<div class="cookie-bar show">
    <div class="cookie-bar__inner pl-4 pl-lg-5 pr-4 pr-lg-5 d-sm-flex justify-content-center align-items-center">
        <div class="cookie-bar--text">
            <strong class="cookie-bar--title">We use Cookies</strong>
            <div class="cookie-bar-subtitle mt-3">
                To help personalise content, and make your experience better on our website. By clicking on the Accept & Close button or continuing to browse this site, you agree to this. For more information please read our<a href="/privacy">Privacy Policy</a>.
            </div>
        </div>
        <a id="cookieConsentAccept" class="btn btn--round mt-sm-0 justify-content-center">Accept & Close</a>
    </div>
</div>
