<div class="cookie-bar show">
    <div class="pt-3 pb-3 pl-4 pl-lg-5 pr-4 pr-lg-5 d-sm-flex justify-content-center align-items-center">
        <div>
            We use cookies to provide best web experience for our users. By continuing to browse this site, you agree to this use. Read more from our <a href="/privacy">Privacy Policy</a>.
        </div>
        <a id="cookieConsentAccept" class="btn btn--round w-100 w-sm-auto mt-2 mt-sm-0 ml-sm-3 justify-content-center">Accept</a>
    </div>
</div>
