<div class="btn-gradient">
    <a class="btn-gradient-link" href="{{url}}">{{text}}</a>
    <a class="btn-gradient-shape" {% if background != blank or background != '' %}style="background:{{background}}"{% endif %}>{{text}}</a>
</div>