#layout
{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    padding-top: 5rem;
	
	&.hide-header
	{
		padding-top: 0;
	}

    &.layout--dark
    {
        .header,
        .btn-gradient-shape,
        .swipe
        {
            background-color: black;
        }

        .header
        {
            &-logo
            {
                background: url($tpl-img-url + 'logo-dark.svg') no-repeat scroll 0 0;
            }

            .nav__item
            {
                color: white;

                .dropdown-menu__t,
                .dropdown-menu__item
                {
                    color: black;
                }
            }

            .header-toggle
            {
                border-color: white;

                &:before,
                &:after
                {
                    background: white;
                }
            }
        }

        .swipe
        {
            .nav
            {
                background-color: black;
                color: white;
            }

            &__back
            {
                background: url($tpl-img-url + 'icons/arrow-back-white.svg') no-repeat;
            }

            &__close
            {
                background: url($tpl-img-url + 'icons/close-white.svg') no-repeat;
            }

            .nav__carret
            {
                background: url($tpl-img-url + 'icons/angle-arrow-white.svg') no-repeat;
            }
        }

        .page
        {
            &__t
            {
                color: white;
            }

            .block
            {
                &--dark
                {
                    background-color: black;

                    .block__note,
                    .block__t,
                    .block__descr
                    {
                        color: white;
                    }

                    .block__inner
                    {
                        color: white;
                    }

                    .pictures
                    {
                        .pic
                        {
                            &--mode-opacity
                            {
                                opacity: .8;
                            }
                        }
                    }

                    .hexagon,
                    .hexagon-empty
                    {
                        background-color: white;
                        color: white;

                        &:after
                        {
                            background: black;
                        }

                        a
                        {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.footer-ribbon
{
    position: fixed;
    bottom: 0;
    z-index: 5000;
}

.blog-ribbon
{
    background-color: #F5F5F5;
    font-weight: 300;
}

.cookie-bar
{
    background: #FFF;
    font-size: .875rem;
    box-shadow: 0px -2px 16px 0px rgba(55, 56, 60, 0.1);

    a[href]
    {
        margin-left: .25rem;
    }

    &__inner
    {
        padding: 2rem 0;
    }

    &--title
    {
        font-size: 2rem;
    }

    &--subtitle
    {
        font-size: 1rem;
    }

    &--text
    {
        @include media-breakpoint-up(lg) {
            width: 600px;
        }
    }

    .btn
    {
        min-width: fit-content;
        background-color: rgb(239,89,22);
        border: 1px solid rgb(239,89,22);

        &:hover
        {
            background-color: lighten(rgb(239,89,22), 5%);
        }

        @include media-breakpoint-down(xs) {
            margin-top: 2rem;
        }

        @include media-breakpoint-up(sm) {
            margin-left: 2rem;
        }

        @include media-breakpoint-up(md) {
            margin-left: 4rem;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 8rem;
        }
    }

    @include media-breakpoint-down(xs) {
        .btn
        {
            justify-content: center;
        }
    }
}

.container
{

}

.main
{
    flex: 1 0 0;
}

.overlay
{
    background: rgba(248,148,6,.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
}

.dropdown-overlay
{
    background: rgba(255,255,255,0);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
}

.overlay {
    z-index: 9000;
}

@keyframes morph-hide
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}

@keyframes morph-show
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.pl-6
{
    padding-left: 5rem!important;
}

.pr-6
{
    padding-right: 5rem!important;
}

.pt-6
{
    padding-top: 5rem!important;
}

@include media-breakpoint-up(lg) {
    .pl-lg-6
    {
        padding-left: 5rem!important;
    }

    .pr-lg-6
    {
        padding-right: 5rem!important;
    }
}

.text-center
{
    text-align: center!important;
}

.overflow-auto
{
    overflow: auto!important;
}

.w-100
{
    width: 100%!important;
}

.mw-100
{
    max-width: 100%;
}

@include media-breakpoint-up(sm) {
    .w-sm-auto
    {
        width: auto!important;
    }

    .text-sm
    {
        &-left
        {
            text-align: left!important;
        }
    }
}

.border-h-ec
{
    border: 1px #ECECEC solid;
}

.bg-gradient
{
    background: linear-gradient(153.24deg, #FF453D -345.15%, #FF9304 -230.66%, #FF483B 12.34%, #FF7E13 103.42%, #FF9800 103.46%)!important;
}

.font-circular
{
    font-family: CircularStd;
}

.font-helvetica
{
    font-family: Helvetica,sans-serif;
}

.font-weight
{
    &-normal
    {
        font-weight: 400!important;
    }

    &-bold
    {
        font-weight: 700!important;
    }
}

.pattern-inner-img
{
    position: absolute;
}

.z-index-1
{
    z-index: 1;
}

.bg
{
    &-white
        {
        background-color: white;
    }

    &-black
    {
        background-color: black;
    }
}

.position-sticky
{
    position: sticky;
}

.break-word
{
    word-break: break-word;
}

.border-none
{
    border: none !important;
}

@include media-breakpoint-up(lg) {
    .order-lg-none
    {
        order: unset;
    }
}

/* Sections */
@import "main/sections";

/* New: Blocks */
@import "main/blocks";

/* Home */
@import "main/page/home/main";

/* Features */
@import "main/page/features/main";

/* Contacts */
@import "main/page/contacts/main";

/* Documentation */
@import "main/page/docs/main";

/* Case studies */
@import "main/page/case-studies/main";

// Glossary
@import "main/page/glossary/main";

// Page 404
@import "main/page/page-404/main";

// Blog
@import "main/page/blog/main";

// Apps
@import "main/page/apps/main";
